.container{
    width: 500px;
    height: 700px;
    margin: 70px 30px 0px;
}
.login-area h2{
    font-size: 2.8rem;
    margin-bottom: 0px;
    font-family: "Means Web",Georgia,Times,"Times New Roman",serif;
    font-weight: inherit;
    font-style: inherit;
}
.login-area p{
    font-size: 20px;
    margin-bottom: 30px;
}
.login-area p a{
    color: #007c89;
}
.login-area .username, .password{
    font-size: 20px;
}
.login-area .username input{
    width: 450px;
    margin: 15px 0px 30px;
    padding: 10px;     
}
.login-area .password label{
    margin-right: 310px;
}
.login-area .password input{
    cursor: pointer;
    width: 15px;
    height: 20px;
    margin-right: 10px;
    height: 15px;
}
.P input{
    width: 450px;
    margin: 15px 0px;
    padding: 10px;
}
.login input{
    width: 473px;
    margin: 25px 0px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #007c89;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 18px;
    margin-right: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    -ms-transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    transition: border 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
    font-size: 1.6rem; 
    height: 48px;
    line-height: 46px;
    cursor: pointer;
}
.keep{
    text-align: center;
    margin-bottom: 30px;
    color: #241c15;
    font-weight: 600;
    font-size: 20px
}
.keep input{
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(/release/1.1.126da5d…/images/sprites/input-sprites-spaced-2x.png);
    background-size: 24px 388px;
    margin-right: 10px;
    border: 0;
    line-height: unset;
    outline: 0 none;
    height: 16px;
}
.forget a{
    color: #007c89;
    font-size: 20px
}
.forget{
    margin-bottom: 80px;
    text-align: center;
}
span{
    color: #007c89;
    font-size: 15px
}
span a{
    color: #007c89;
}
.forget input{
    display: block;
    margin-left: 140px;
    margin-top: 40px;
    padding:8px 70px;
    cursor: pointer;
    font-size: 20px;
    background-color: #007c89;
    border: 2px solid #333;
    color: #fff;
    border-radius: 4px;
    transition: 1s;
}
.forget input:hover{
    padding: 10px 80px;
    transition: 1s;
}